body
{
	font-family: "Segoe UI", Arial, sans-serif;
	background-color: #FFFFFF;
}
h1
{
	font-family: "BM Dohyeon";
	background-color: #488bc2;
	outline-color: Black;
	outline-style: auto;
	outline-width: medium;
	width: 95%;
	max-width: 600px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	font-size: 40px;
	padding: 10px;
}
h3
{
	color: #000000;
	font-size: 20px;
	margin-top: 3px;
	text-align: center;
}
#container
{
	height: 80%;
}
#chatbox
{
	background-color: #9bbbd4;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	max-width: 600px;
	height: 770px;
	overflow-y: auto;
	margin-top: 0px;
}
#chatbox::-webkit-scrollbar {
    display: none;
}
#chatbox {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#userInput {
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	max-width: 600px;
	margin-top: 60px;
	vertical-align: bottom;
}
#textInput {
	height: 38px;
	width: 90%;
	outline-color: Black;
	outline-style: auto;
	outline-width: medium;
	padding-left: 10px;
	float: left;
	border: none;
	font-family: inherit;
	font-size: 17px;
}
#buttonInput {
	background-color: #fef01b;
	width: 43px;
	height: 43px;
	float: right;
	font-family: inherit;
	font-size: 17px;
	color: black;
	border: none;
	cursor: pointer;
	border-radius: 50px;
}
#buttonInput:hover {
	opacity: 0.8;
	border-width: 1px;
	border-color: #009688;
}
.userText {
	color: black;
	font-family: inherit;
	font-size: 17px;
	text-align: right;
	line-height: 30px;
}
.userText span {
	background-color: #fef01b;
	box-shadow: 5px 5px 5px gray;
	margin-right: 5px;
	padding: 10px;
	border-radius: 5px;
}
.botText {
	color: black;
	font-family: inherit;
	font-size: 17px;
	text-align: left;
	line-height: 30px;
}
.botText span {
	background-color: #ffffff;
	box-shadow: -5px 5px 5px gray;
	margin-left: 5px;
	padding: 10px;
	border-radius: 5px;
}
#tidbit {
	position:absolute;
	bottom:0;
	right:0;
	width: 300px;
}